			ul{
				height: 70px;
				width:100%;
				list-style-type: none; //取消无序列表的固定样式
			}
			ul li{
				float:left;
				margin: 20px;//设置三个元素的外间距
			}
			body .a{background-color:#015FAF;}
			.nav navbar-nav navd>li{
			margin-left:30%;
			}
			body, html {
             overflow-x: hidden;
                        }


